@charset "utf-8";
html {
  font-size: 14px;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: "微软雅黑", arial, tahoma,  \5FAE\8F6F\96C5\9ED1, sans-serif;
  /* 1 */
}
button,
input,
select,
textarea {
  font-size: 100%;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
button, input, select, textarea {vertical-align: middle;}
body {
  color: #333;
  background-color: white;
  line-height: 1.5;
}
a {
  color: #445;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
a:hover {
  color: #F60;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
.ks-fl { float:left; }
.ks-fr { float:right; }
.ks-clear {
  *zoom: 1;
}
.ks-clear:before,
.ks-clear:after {
  display: table;
  content: "";
}
.ks-clear:after {
  clear: both;
}
.ks-hidden {
  display: none;
}
.ks-shown {
  display: block;
}
.ks-invisible {
  visibility: hidden;
}
.ks-visible {
  visibility: visible;
}
.ks-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ks-hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.ks-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ks-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ks-left { text-align:left; }
.ks-center { text-align:center; }
.ks-right { text-align:right; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-20 { margin-right: 20px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,div,fieldset,legend,input,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}
.inline-pic {
	display: inline-block;
	max-width: 100%;
}
.block-pic {
	display: block;
	max-width: 100%;
}

/* ==========================================================================
   index
   ========================================================================== */
body {
	padding: 10px 0 0 10px;
    position: relative;
    z-index: 1000;
}
.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
}

/* ==========================================================================
   移动端
   ========================================================================== */
/* 小屏幕，主要是PAD */
@media all and (max-width: 991px) {
}

/* 超小屏幕，主要是手机 */
@media all and (max-width: 767px) {
}

/* 微小屏幕，分辨率更低的手机 */
@media all and (max-width: 479px) {
}